table {
    font-family: "Courier New", Courier, monospace;
}

td {
    padding-left: 5px;
    padding-right: 10px;
}

.running {
    background-color: green;
}

.notrunning {
    background-color: red;
}
