<!doctype html>
<html>
    <head>
        <title>StatusMonitor</title>
        <script src="{{url_for('static', filename='index.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <noscript><link rel='stylesheet' href="{{url_for('static', filename='nojs.css')}}"></noscript>
    </head>
    <body>
        <div id='nojs'><p>Please turn on JavaScript</p></div>
        <div id='wrapper'>
            <header>
                <h1>Hello World!</h1>
            </header>
        </div>
    </body>
</html>
